repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: "pnpm-lock.yaml"
      - id: check-json
        exclude: "tsconfig.json" # not actually JSON format
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.9
    hooks:
      - id: actionlint

  - repo: local
    hooks:
      - id: lint
        name: lint
        entry: pnpm lint
        language: system
        pass_filenames: false

      - id: check
        name: check
        entry: pnpm check
        language: system
        pass_filenames: false
