name: Build flux-website

on:
  pull_request:
  push:
    branches:
      - "main"

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: read
      checks: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup PNPM
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0

      - name: Set up Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: ".nvmrc"
          cache: "pnpm"

      - name: Install PNPM dependencies
        run: pnpm install --frozen-lockfile

      - name: Run pre-commit
        uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd # v3.0.1

  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup PNPM
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0

      - name: Set up Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: ".nvmrc"
          cache: "pnpm"

      - name: Install PNPM dependencies
        run: pnpm install --frozen-lockfile

      - name: Build flux-website
        run: pnpm build

      - name: Upload Artifact
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: build
          path: build

  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    needs: [build]
    environment:
      name: production
      url: https://thitat.net
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Download Artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: build
          path: build

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          aws-region: ${{ vars.AWS_REGION }}
          role-duration-seconds: ${{ vars.AWS_SESSION_DURATION }}
          role-to-assume: ${{ secrets.GHA_DEPLOYMENT_ROLE_ARN }}

      - name: Upload website
        run: |
          aws s3 sync --delete --exclude="*" --include="_app/immutable/*" --cache-control="public, max-age=86400, immutable" ./build "s3://${{ secrets.GHA_DEPLOYMENT_S3_BUCKET }}/"
          aws s3 sync --delete --exclude="_app/immutable/*" --cache-control="no-cache" ./build "s3://${{ secrets.GHA_DEPLOYMENT_S3_BUCKET }}/"
